body {
    background-image: url(../img/thefeedtitle.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

p{
    margin: 100px 100px 100px 100px;
    padding-top: 100px;
    text-align: center;
}

a{
    color:#20237a;
    text-align:center;
    text-decoration: none;
}

img {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding-top:170px;
}

.image{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}